@import "mixins.scss";
#GondelContent_Label1 {	@include elemAutoHeight(30);
}
#GondelContent_Label1 {	@include elemTop(40);
}
#GondelContent_Label1 {	@include elemLeft(80);
}
#GondelContent_Label1 {	@include elemAutoWidth(120);
}
#GondelContent_Label1 {	z-index: 0;
}
#GondelContent_Label1 {	@include font-weight-bold(true);
}
#GondelContent_Label2 {	@include elemAutoHeight(30);
}
#GondelContent_Label2 {	@include elemTop(40);
}
#GondelContent_Label2 {	@include elemLeft(280);
}
#GondelContent_Label2 {	@include elemAutoWidth(100);
}
#GondelContent_Label2 {	z-index: 1;
}
#GondelContent_Label2 {	@include font-weight-bold(true);
}
#GondelContent_NumericOutput1 {	@include elemAutoWidth(100);
}
#GondelContent_NumericOutput1 {	@include elemAutoHeight(30);
}
#GondelContent_NumericOutput1 {	@include elemTop(100);
}
#GondelContent_NumericOutput1 {	@include elemLeft(280);
}
#GondelContent_NumericOutput1 {	z-index: 2;
}
#GondelContent_Rectangle1 {	@include elemTop(80);
}
#GondelContent_Rectangle1 {	@include elemLeft(60);
}
#GondelContent_Rectangle1 {	@include elemWidth(140);
}
#GondelContent_Rectangle1 {	@include elemHeight(80);
}
#GondelContent_Rectangle1 {	z-index: 3;
}
#GondelContent_Rectangle1 {	background-color: rgba(0, 0, 255, 1);
}
#GondelContent_Rectangle2 {	@include elemTop(80);
}
#GondelContent_Rectangle2 {	@include elemLeft(60);
}
#GondelContent_Rectangle2 {	@include elemWidth(140);
}
#GondelContent_Rectangle2 {	@include elemHeight(80);
}
#GondelContent_Rectangle2 {	z-index: 4;
}
#GondelContent_Rectangle2 {	background-color: rgba(255, 255, 255, 1);
}
#GondelContent_Rectangle3 {	@include elemTop(80);
}
#GondelContent_Rectangle3 {	@include elemLeft(60);
}
#GondelContent_Rectangle3 {	@include elemWidth(140);
}
#GondelContent_Rectangle3 {	@include elemHeight(80);
}
#GondelContent_Rectangle3 {	z-index: 5;
}
#GondelContent_Rectangle3 {	background-color: rgba(0, 192, 0, 1);
}
#GondelContent_Rectangle4 {	@include elemTop(80);
}
#GondelContent_Rectangle4 {	@include elemLeft(60);
}
#GondelContent_Rectangle4 {	@include elemWidth(140);
}
#GondelContent_Rectangle4 {	@include elemHeight(80);
}
#GondelContent_Rectangle4 {	z-index: 6;
}
#GondelContent_Rectangle4 {	background-color: rgba(255, 0, 0, 1);
}
#GondelContent_Rectangle5 {	@include elemTop(80);
}
#GondelContent_Rectangle5 {	@include elemLeft(60);
}
#GondelContent_Rectangle5 {	@include elemWidth(140);
}
#GondelContent_Rectangle5 {	@include elemHeight(80);
}
#GondelContent_Rectangle5 {	z-index: 7;
}
#GondelContent_Rectangle5 {	background-color: rgba(192, 0, 192, 1);
}
#GondelContent_Rectangle6 {	@include elemTop(80);
}
#GondelContent_Rectangle6 {	@include elemLeft(60);
}
#GondelContent_Rectangle6 {	@include elemWidth(140);
}
#GondelContent_Rectangle6 {	@include elemHeight(80);
}
#GondelContent_Rectangle6 {	z-index: 8;
}
#GondelContent_Rectangle6 {	background-color: rgba(255, 255, 0, 1);
}
#GondelContent_Rectangle7 {	@include elemTop(80);
}
#GondelContent_Rectangle7 {	@include elemLeft(60);
}
#GondelContent_Rectangle7 {	@include elemWidth(140);
}
#GondelContent_Rectangle7 {	@include elemHeight(80);
}
#GondelContent_Rectangle7 {	z-index: 9;
}
#GondelContent_Rectangle7 {	border-width: 5px;
}
#GondelContent_Rectangle7 {	background-color: rgba(255, 255, 255, 0);
}
#GondelContent_MomentaryPushButton1 {	@include elemAutoHeight(30);
}
#GondelContent_MomentaryPushButton1 {	@include elemTop(160);
}
#GondelContent_MomentaryPushButton1 {	@include elemLeft(260);
}
#GondelContent_MomentaryPushButton1 {	@include elemAutoWidth(140);
}
#GondelContent_MomentaryPushButton1 {	z-index: 10;
}
