@import "mixins.scss";
#LightsContent_Label1 {	@include elemAutoWidth(80);
}
#LightsContent_Label1 {	@include elemAutoHeight(30);
}
#LightsContent_Label1 {	@include elemTop(20);
}
#LightsContent_Label1 {	@include elemLeft(180);
}
#LightsContent_Label1 {	z-index: 0;
}
#LightsContent_Label1 {	@include font-weight-bold(true);
}
#LightsContent_BasicSlider1 {	@include elemTop(60);
}
#LightsContent_BasicSlider1 {	@include elemLeft(40);
}
#LightsContent_BasicSlider1 {	@include elemWidth(180);
}
#LightsContent_BasicSlider1 {	@include elemHeight(40);
}
#LightsContent_BasicSlider1 {	z-index: 1;
}
#LightsContent_Label2 {	@include elemAutoHeight(30);
}
#LightsContent_Label2 {	@include elemTop(120);
}
#LightsContent_Label2 {	@include elemLeft(40);
}
#LightsContent_Label2 {	@include elemAutoWidth(120);
}
#LightsContent_Label2 {	z-index: 2;
}
#LightsContent_NumericOutput1 {	@include elemAutoHeight(30);
}
#LightsContent_NumericOutput1 {	@include elemTop(75);
}
#LightsContent_NumericOutput1 {	@include elemLeft(260);
}
#LightsContent_NumericOutput1 {	@include elemAutoWidth(80);
}
#LightsContent_NumericOutput1 {	z-index: 3;
}
#LightsContent_ToggleButton1 {	@include elemAutoHeight(30);
}
#LightsContent_ToggleButton1 {	@include elemTop(160);
}
#LightsContent_ToggleButton1 {	@include elemLeft(20);
}
#LightsContent_ToggleButton1 {	@include elemAutoWidth(80);
}
#LightsContent_ToggleButton1 {	z-index: 4;
}
#LightsContent_ToggleButton2 {	@include elemAutoHeight(30);
}
#LightsContent_ToggleButton2 {	@include elemTop(160);
}
#LightsContent_ToggleButton2 {	@include elemLeft(120);
}
#LightsContent_ToggleButton2 {	@include elemAutoWidth(80);
}
#LightsContent_ToggleButton2 {	z-index: 5;
}
#LightsContent_Label3 {	@include elemAutoWidth(80);
}
#LightsContent_Label3 {	@include elemAutoHeight(30);
}
#LightsContent_Label3 {	@include elemTop(120);
}
#LightsContent_Label3 {	@include elemLeft(280);
}
#LightsContent_Label3 {	z-index: 6;
}
#LightsContent_Ellipse1 {	@include elemTop(160);
}
#LightsContent_Ellipse1 {	@include elemLeft(360);
}
#LightsContent_Ellipse1 {	@include elemWidth(20);
}
#LightsContent_Ellipse1 {	@include elemHeight(20);
}
#LightsContent_Ellipse1 {	z-index: 7;
}
#LightsContent_Ellipse1 {	background-color: rgba(0, 0, 0, 1);
}
#LightsContent_Ellipse2 {	@include elemTop(200);
}
#LightsContent_Ellipse2 {	@include elemLeft(360);
}
#LightsContent_Ellipse2 {	@include elemWidth(20);
}
#LightsContent_Ellipse2 {	@include elemHeight(20);
}
#LightsContent_Ellipse2 {	z-index: 8;
}
#LightsContent_Ellipse2 {	background-color: rgba(0, 0, 0, 1);
}
#LightsContent_MomentaryPushButton1 {	@include elemTop(200);
}
#LightsContent_MomentaryPushButton1 {	@include elemLeft(260);
}
#LightsContent_MomentaryPushButton1 {	@include elemAutoWidth(80);
}
#LightsContent_MomentaryPushButton1 {	@include elemAutoHeight(20);
}
#LightsContent_MomentaryPushButton1 {	z-index: 9;
}
#LightsContent_MomentaryPushButton2 {	@include elemTop(160);
}
#LightsContent_MomentaryPushButton2 {	@include elemLeft(260);
}
#LightsContent_MomentaryPushButton2 {	@include elemAutoWidth(80);
}
#LightsContent_MomentaryPushButton2 {	@include elemAutoHeight(20);
}
#LightsContent_MomentaryPushButton2 {	z-index: 10;
}
#LightsContent_Ellipse3 {	@include elemTop(160);
}
#LightsContent_Ellipse3 {	@include elemLeft(360);
}
#LightsContent_Ellipse3 {	@include elemWidth(20);
}
#LightsContent_Ellipse3 {	@include elemHeight(20);
}
#LightsContent_Ellipse3 {	z-index: 11;
}
#LightsContent_Ellipse3 {	background-color: rgba(255, 0, 0, 1);
}
#LightsContent_Ellipse4 {	@include elemTop(200);
}
#LightsContent_Ellipse4 {	@include elemLeft(360);
}
#LightsContent_Ellipse4 {	@include elemWidth(20);
}
#LightsContent_Ellipse4 {	@include elemHeight(20);
}
#LightsContent_Ellipse4 {	z-index: 12;
}
#LightsContent_Ellipse4 {	background-color: rgba(0, 192, 0, 1);
}
